.bg-image {
    background-image: url('../img/01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-shadow {
    background-color: rgba(73, 73, 73, 0.041);
}

.bg-color {
    background-color: linear-gradient(to bottom, #ffffff, #e3e3e3, #c8c8c8, #adadad, #939393);;
}
